@media screen and (max-width: 480px){
    body {
        font-size: 16px;
    }
    .wrapper {
        width: 320px;
        padding: 10px;
        margin: 30px auto;
    }

    h1, h4 {
        width: 300px;
    }
    h1{
        margin: 0 auto 10px auto;
    }
    form {
        width: 300px;
        margin: 20px auto 15px auto;
        display: block;
    }
    #divLabelInput{
        width: 300px;
}

    #buttonAdd{
        margin-top: 20px;
    }
    form input::placeholder {
        font-size: 20px;
    }
    #divLabelInput{
        width: 300px;
    }
    input{
        width: 300px;
        font-size: 20px;
        height: 25px;
    }
    #inCorrectFormat, #deleteTextForAndroid>p{
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
#wrapperOutputFieldButtons{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    gap: 5px;
}
#wrapperButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}
    #outputFiel{
        width: 300px;
        background: #ffffff;
        border: 2px solid #b6b6b6;
        border-radius: 3px;
        height: 300px;
    }

    #delete{
        margin-top: 10px;
        margin-left: 115px;
    }
    option{
        font-size: 14px;
    }
    #deleteText{
        display: none;
    }
    #deleteTextForAndroid{
        display: block;
        width: 150px;
        font-size: 14px;
        margin: -5px 0 0 70px;
        color: #5c5c5c;
    }
    #deleteTextForAndroid>p {
        text-align: center;
    }
}

