@media screen and (min-width: 769px) and (max-width: 1279px) {

    body {
        font-size: 16px;
    }


    .wrapper {
        width: 740px;
    }

    h1, h4 {
        width: 670px;
    }
    h1{
        padding-top: 0;
        margin: 0 auto 5px auto;
    }
    form {
        display: flex;
        justify-content: space-between;
        align-items: end;
        color: #5c5c5c;
        margin: 5px auto 5px auto;
    }
    form, #inCorrectFormat {
        width: 670px;

    }


    form input::placeholder {
        font-size: 20px;
    }

    input{
        height: 35px;
        font-size: 20px;
    }
    #wrapperOutputFieldButtons {
        width: 670px;
    }
    option{
        font-size: 18px;
    }
    #deleteTextForAndroid{
        display: none;
    }
}