@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background: #82c6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.wrapper{
    width: 800px;
    background: #ffffff;
    margin: 60px auto;
    border-radius: 5px;
    padding: 30px;

}
h1,h4, form, #wrapperOutputFieldButtons,#inCorrectFormat, #textForAndroid{
    width: 640px;
}

h1{
    padding-top: 20px;
    margin: 0 auto 25px auto;
}
h4, #textForAndroid{
    margin: 0 auto 5px auto;
}
#texForFieldAndroid {
    /*color: #5c5c5c;*/
    /*font-size: 16px;*/
    display: none;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #5c5c5c;
    margin: 20px auto 5px auto;

}
#inCorrectFormat{
    margin: 0 auto 30px auto;
    color: #f41919;
    font-weight: 500;
}
#divLabelInput{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    width: 440px;
    text-align: justify;
}
input{
    height: 35px;
    line-height: 40px;
    padding: 10px;
    width: 440px;
    border-radius: 3px;
    outline: none;
    border: 2px solid #b6b6b6;
    font-size: 25px;
}

form input::placeholder{
    font-weight: 400;
    font-size: 25px;
    color: #C0C0C0;
}

button{
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #b3b3b3, #eaeaea);
    padding: 5px 10px;
    border: 2px solid #aaa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
button:focus {
    outline: none;
}
#buttonAdd{
    margin-right: 70px;
}
button:hover{
    color: #000000;
    /*text-shadow: 0 1px 10px rgb(67, 67, 67);*/
    border: 2px solid #707070;
    transition: 0.2s;
}
button:active{
    transform: scale(0.8);
    transition: 0.5s;

}
#wrapperOutputFieldButtons{
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#wrapperButtons{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    gap: 15px;
}

#wrapperButtons>button {
    align-self: flex-end;
}


#delete{
    margin: 20px 52px 0 0 ;
}
#deleteText{
    width: 150px;
    font-size: 14px;
    margin-top: -10px;
    color: #5c5c5c;
}
#deleteText>p{
    text-align: center;
}
#outputField{
    width: 440px;
    background: #ffffff;
    border: 2px solid #b6b6b6;
    height: 200px;
    border-radius: 3px;
    overflow-wrap: break-word;
    white-space: normal;
}
option{
    font-size: 20px;
}
#myList {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
#deleteTextForAndroid{
    display: none;
}



